<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloom</title>
    <link rel="stylesheet" href="urembo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <!-- start of navbar section -->
    <section>
        <nav class="nav">
            <h1 class="logo">Bloom </h1>
    
            <div class="list-div">
                <ul class="list">
                    <li class="list-item"><a class="list-item-a" href="">Home</a></li>
                    <li class="list-item"><a class="list-item-a" href="">Login</a></li>
                    <li class="list-item"><a class="list-item-a" href="">Cities</a></li>
                    <li class="list-item"><a class="list-item-a" href="">Division</a></li>
                    <li class="list-item"><a class="list-item-a" href="">Contact us</a></li>
                </ul>
            </div>
        </nav>
    </section>

    <!-- start of jumbotron div -->
    <div class="jumbotron">
        <div class="div3">
            <h1 class="h1">Lorem ipsum dolor sit amet</h1>
            <img class="img" src="static/image/map.jpg" alt="">
        </div>
        <div class="div4">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, hic, nesciunt! Deleniti eligendi minus nihil! 
                Ducimus earum et maiores natus perspiciatis quo sapiente sunt voluptas voluptate voluptatum! Doloribus, tempore, vitae!</p>

            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aperiam assumenda aut culpa delectus 
                doloribus enim ipsa labore laborum magnam nobis officia quidem ratione saepe similique sint, suscipit velit voluptate.</p>
                
            <button class="btn" >Learn More</button>    
        </div>
    </div>

    <!-- start of card section -->
<section>
    <h1 class="h1">This is a heading</h1>
    <div class="row">
            <div class="card">
                <img class="img2" src="static/image/map2.jpeg" alt="">
                <div class="card-content">
                    <h4 class="h4">Aliquam et iaculis sapien</h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at aut cumque delectus eligendi 
                        facere magni molestiae nesciunt quidem quos repellendus, repudiandae soluta tempora temporibus voluptatibus. Eligendi expedita hic perferendis.
                    </p>
                    <button class="btn">Learn more</button>
                </div>
            </div>

            <div class="card">
                <img class="img2" src="../template/static/image/map3.jpeg" alt="">
                <div class="card-content">
                    <h4 class="h4">Aliquam et iaculis sapien</h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at aut cumque delectus eligendi 
                        facere magni molestiae nesciunt quidem quos repellendus, repudiandae soluta tempora temporibus voluptatibus. Eligendi expedita hic perferendis.
                    </p>
                    <button class="btn">Learn more</button>
                </div>
            </div>

            <div class="card">
                <img class="img2" src="static/image/map5.jpeg" alt="">
                <div class="card-content">
                    <h4 class="h4">Aliquam et iaculis sapien</h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at aut cumque delectus eligendi 
                        facere magni molestiae nesciunt quidem quos repellendus, repudiandae soluta tempora temporibus voluptatibus. Eligendi expedita hic perferendis.
                    </p>
                    <button class="btn">Learn more</button>
                </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer-div">
        <div class="latest-post">
            <h1>Latest Post</h1>

            <i class="fa-solid fa-calendar-days"></i>
            <h3>Lorem ipsum adipisicing elit.</h3>
            <p>Lorem ipsum dolor sit amet,</p>

            <i class="fa-solid fa-calendar-days"></i>
            <h3>Lorem ipsum adipisicing elit.</h3>
            <p>Lorem ipsum dolor sit amet,</p>

            <i class="fa-solid fa-calendar-days"></i>
            <h3>Lorem ipsum adipisicing elit.</h3>
            <p>Lorem ipsum dolor sit amet,</p>
        </div>
        <div class="about">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias, consequatur deleniti dolore, 
                doloribus ea et ex incidunt maxime minus modi placeat quas quod recusandae reiciendis rerum similique vero.</p><br><br><br>
                
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A exercitationem impedit ipsa 
                laudantium repudiandae. Eos itaque mod</p>
        </div>
        <div class="handles">
            <h1>Stay Connected</h1>
            <p class="font"> <i class="fa-sharp fa-solid fa-phone"></i> <a>0791989127</a></p> <br>  
            <p class="font"> <i class="fa-brands fa-instagram"></i> <a>Instagram</a> </p> <br>
            <p class="font"> <i class="fa-brands fa-facebook"></i> <a>Facebook</a></p> <br>
            <p class="font"> <i class="fa-brands fa-twitter"></i> <a>Twitter</a></p> <br>
            <p class="font"> <i class="fa-brands fa-square-google-plus"></i> <a>Google Plus</i> </p>
        </div>
    </div>
    
</footer>

</body>
</html>