<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cities</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- header -->
    <div class="div1">
        <h1 class="header">Cities</h1>
    </div>

    <!-- body section -->
    <div class="body">
        <div class="body-left">
            <ol class="body-ol">
                <li><a href="#">London</a></li>
                <li><a href="#">Paris</a></li>
                <li><a href="#">Tokyo</a></li>
            </ol>
        </div>
        <div class="body-right">
            <h1>London</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id possimus quam qui aliquid unde reprehenderit! Accusantium, eum veritatis. 
                Aspernatur, deserunt nemo. Eius laudantium molestias, maiores dolorum velit exercitationem. Fuga, blanditiis?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore nihil officia corporis nisi numquam magnam eos quaerat a et nulla 
                neque fuga corrupti magni, recusandae at. Nam, at? Nesciunt, facilis.</p>
        </div>
    </div>
    <!-- footer -->

    <nav class="footer">
        <h4 class="footer-text">Footer</h4>
    </nav>


</body>
</html>